<div class="columns">
	<div class="column is-half is-offset-one-quarter has-text-centered">
		<a class="button" id="serverStatus">Connecting...</a>
	</div>
</div>
<div class="columns">
      <div class="column is-half is-offset-one-quarter">
          <div class="field has-addons">
              <p class="control">
                      <span class="select">
                          <select id="voice-select" name="voice">

                          </select>
                      </span>
                  </p>
                  <p class="control has-icons-left is-expanded">
                      <input id="voice-message" class="input" type="text" name="sentance"/>
                      <span class="icon is-small is-left">
                          <i class="fa fa-chevron-right"></i>
                      </span>
                  </p>
                  <p class="control">
                      <a id="voice-send" class="button is-info">
                          Talk
                      </a>
                  </p>
          </div>
      </div>
</div>	

<div class="column is-half is-offset-one-quarter">
	<label class="label">Log</label>

		<div class="box">
			<article class="media">
				<div class="media-left">
					<p class="content is-small has-text-centered">
						Alex 
						<br />
						<time datetime="2017-07-08T22:00">10 seconds ago..</time>
					</p>
				</div>
				<div class="media-content">
					<p class="has-text-centered">
						This was something you said!
					</p>
				</div>
			<article>
		</div>
	
</div>

</div>
