<!DOCTYPE html>
<html>
  <head>
    <title>TalkToMe</title>
    <%= csrf_meta_tags %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
    </header>

    <div class="container">
    <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
	<div class="content has-text-centered">
	  <p>
	    <strong>Talk To Me!</strong> by <a href="https://shermanrose.uk/">Sherman Rose</a>. The source code is licensed
	    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
	    is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
	  </p>
	  <p>
	    <a class="icon" href="https://github.com/hiniko/talktome">
	      <i class="fa fa-github"></i>
	    </a>
	  </p>
	</div>
      </div>
    </footer>

  </body>
</html>
